
@{
    ViewData["Title"] = "Registration/Login";
}

<div class="row">
    <div class="col-6"
    @Html.Partial("../Shared/_Registration.cshtml")
 </div>

    </div>
    <div class="col-6"
    @Html.Partial("../Shared/_Login.cshtml")
    </div>

    <!-- connects our chard files to our html -->
</div>