*{
    margin: 0px;
    padding: 0px;
    outline: 1px solid red;
    
}
#wrapper{
    height: 900;
    width: 870px;
    background-color:black;

}
#innerwrapper{
    width: 80px;
    
    background-color:white;
}
#header{
   
}
#headerlinks{
    width: 250px;
    background-color: #487FAD;
    padding: 10px;
    margin: 0px 0px 0px 600px
    

}
#headerlinks a{
    display: inline-block;
}
#james{
    color: white;
    display: inline-block;
    margin: 0px 0px 0px 0px
    
   
}
#threeboxes{
    padding: 0px 10px;
    width: 870px;
    margin: 10px 0px 10px 0px;
    height: 200px;
    display:inline-block;
    
}
.onebox{
    background-color: rgb(53, 92, 201);
    width: 276px;
    display: inline-block;
    height: 175px
    
}
.onebox img{
    width: 30px;
}
.onebox p{
    color: white;
}
.box button{
    width: 10px;
    height: 10px;
    margin: 4px;
    background-color: #487FAD;
    color: aqua;
    

}
#Services{
    color: white;
    display: inline-block;
}
#Projects{
    color: white;
    display: inline-block;
}
#Clients{
    color: white;
    display: inline-block;
}
#bottommid{
display: inline-block;
width: 850px;
}
#imageblock{
    display: inline-block;
    width: 300px;
}
#worldtext{
    display: inline-block;
    color:white

    
    
}
#bottommid img{
    display: inline-block;
    width: 300px;
}
/* width must be divded evenly between imageblock w/h paragraph w/h block w/h...start small to build then make bigger */
#paragraph{
    display: inline-block;
    width: 200px;
    font-size: 11px;
    color:white

    
}
#learnlink{

}
#block{
    display: inline-block;
    width:10px
}
#testtitle{
    display: inline-block;
    color:white

}
#blueblock{
    background-color: rgb(53, 92, 201);
    width: 345px;
    height: 160px;
    display: inline-block;
}
#footer{
margin: 15px 0px 0px 0px
}
#bluediv{

    width: 850px;
    height: 30px;
    margin-right: 120px;
    text-align: center;
    vertical-align: top;
    background-color: teal
}
#nav{
    display: inline-block;
    padding: 5px;
}
#buttons{
    display: inline-block;
    
}