<h1>Login</h1>

@model BankAccount.Models.LoginViewModel
<div class="row">
<form class="mt-5" asp-controller="BankAccount" asp-action="login" method="post">
    <!-- margin top 5 is the padding -->
      
         <div class="row m-1"> <span asp-validation-for="email" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <label asp-for="email" class="col text-right w-50"></label>
            <input asp-for="email" class="col w-50"/>
        </div>

        <div class="row m-1"> <span asp-validation-for="Password" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <label asp-for="Password" class="col text-right w-50"></label>
            <input asp-for="Password" class="col w-50"/>
        </div>

        <div class="row float-right"><button type ="submit">ADD</button></div>

    </form>
      <a href="/">Need to Register?</a>
</div>
