<h1>MyIdeas</h1>
<a href="/logout">logout</a>
<h4>Hello, @ViewBag.user.last_name</h4><br>

<div class="container">
    <form action="create" method="post">
        <div class="row">
            
            <textarea name="content" cols="60" rows="2" placeholder="Post something witty here.."></textarea>
        
            <input type="submit" value="Idea!" name="submit">

        </div>
    </form>

    @foreach (var v in ViewBag.ideas)
    {
        <div class="card text-white bg-danger mb-3">
            <p><a href="/MyIdeas/show/@v.creator.userId">@v.creator.last_name</a> says: @v.content</p>
            @if(v.creator.userId == ViewBag.user.userId){            
                <a href="/MyIdeas/delete/@v.postId">Delete</a>  
                
            } else if (v.currentUser) {
                <a class="text-danger" href="#">Liked</a>
            } else {
                <a href="/MyIdeas/like/@v.postId">Like</a>
            }
            <a href="/MyIdeas/idea/@v.postId">@v.likes.Count people like this </a>
        </div>
        <br>
    } 
    