<h1>Post</h1>
<a href="/logout">logout</a>

<div class="row">
    <div class="col-12">
        <h4><a href="/MyIdeas/show/@ViewBag.thisPost.creator.userId">@ViewBag.thisPost.creator.last_name</a> says:</h4>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-11">
        <p>@ViewBag.thisPost.content</p>
    </div>
</div>
<hr>
<h5>These People Like this Post:</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Alias</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>

@{
    foreach (var like in ViewBag.thisPost.likes)
    {
  
    <tr>    
      <td><a href="/MyIdeas/show/@like.user.userId">@like.user.last_name</a></td>
      <td>@like.user.first_name</td>
    </tr>

    
      
    }
}
    

  </tbody>
</table>
