<div class="w-50 mx-auto">
    <div class="border-bottom d-flex align-items-center">
        <div class="col text-left"><span><h2>Add A New Trail</h2></span></div> <div class="col text-right"><span><a href="/">Go Home</a></span></div>
    </div>
    @model FinalTest.Models.woodsTrails
    <!-- Models captaial Mm -->
    <!-- change the asp controller trails to FinalTest -->
    <form asp-controller="FinalTest" asp-action="Register" method="post">

        <div class="row m-1"> <span asp-validation-for="Name"></span></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Name"></label></div>
            <div class="col"><input asp-for="Name"/></div>
        </div>

         <div class="row m-1"> <span asp-validation-for="Description"></span></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Description"></label></div>
            <div class="col"><input asp-for="Description"/></div>
        </div>

        <div class="row m-1"> <span asp-validation-for="Length" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Length"></label></div>
            <div class="col"><input asp-for="Length"/></div>
        </div>

         <div class="row m-1"> <span asp-validation-for="Elevation" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Elevation"></label></div>
            <div class="col"><input asp-for="Elevation"/></div>
        </div>

          <div class="row m-1"> <span asp-validation-for="Latitude" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Latitude"></label></div>
            <div class="col"><input asp-for="Latitude"/></div>
        </div>

           <div class="row m-1"> <span asp-validation-for="Longitude" class="text-danger d-block mx-auto"></span></div>
        <div class="row m-1">
            <div class="col text-right"><label asp-for="Longitude"></label></div>
            <div class="col"><input asp-for="Longitude"/></div>
        </div>

        <div class="row float-right"><button type ="submit">Create new Trail</button></div>

    </form>
</div>