<!DOCTYPE html>
<html>
		{% load static %}
	<head>
		<link rel='stylesheet' href="{% static 'login/style.css' %}">

		<title>Users</title>
	</head>
	<body>

			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
	   <h1>Welcome, {{user.first_name}}!</h1>
	   <a href="/logout">logout</a>

	   {%for p in pokes%}
	   {{p.poker.first_name}} has poked {{p.pokee.first_name.count}}
	   {%endfor%}
	<table>
			People you may want to poke:
				<tr>
						<th>
							
							Name
						
						</th>
						<th>
								alias
						 </th>
						 <th>
						email address
					</th>
					<th>
						Poke History
					</th>
					<th>
							Action
						</th>
				</tr>
			{%for student in enrolled_students%}
			<tr>
					<td>
							{{student.first_name}}
					</td>
			
					<td>
							{{student.last_name}}
					</td>
					<td>
							{{student.email}}
					</td>
					<td>
							{{student.got_poked.count}}
							
					</td>
					<td>
							<form action="/poke/{{student.id}}" method='POST'>
								<!--student.id is going to be displayed with each student 
								so each poke butten will have its own student.id to it -->
								{% csrf_token %}
							   <input type="submit" value="poke" >
							</form>	
							<!-- when using forms you always need an id -->
				 </td>
			</tr>
			{%endfor%}
		</table>
		</div>


    </body>
</html>