<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/result" method="post">
        <input type="text" name="Name">
        <input type="text" name="Location">
        <input type="text" name="Language">
        <textarea name="textarea" cols="60" rows"10" placeholder="message">
  </textarea>
        <input type="submit" name="submit">
    </form>

    
</body>
</html>