Post a message<br>
<form>
<textarea name="message" id="message" cols="30" rows="3"></textarea>
<div class="col texgt-right"><input type="submit" value="Post a message" class="d-inline"></div>
</form>

Michael Choi - 
<!-- <for each  -->

Cory Whiteland -

